*{
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    margin-bottom: 24px;
}

h3 {
    margin-bottom: 18px;
    font-size: 18px;
}



.banner{
    background: url(../img/Capa1.png);
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.subtitulo{
    margin-bottom: 46px;
    color: whitesmoke;
}

.botao{
    background-color: #bd6bbd;
    color: white;
    padding: 18px;
    border-radius: 30px;
     
}

.botao:hover{
    background-color: white;
    color: #bd6bbd;
}


.sobre {
    margin: 24px;
}
.sobre-flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    line-height: 1.5em;
    margin-left: 100px;
}

.sobre-descricao {
    width: 40%;
    color:#800080;
    
}

.sobre-descricao p{
    margin-bottom: 24px ;
}

.sobre-habilidades{
    width: 40%;
    color:#800080
}

.titulo-sobre{
    margin-bottom: 24px;
    text-align: center;
    color: #800080;
}

.botao-sobre{
    background-color: white;
    border: #bd6bbd solid 3px;
    color:#bd6bbd;
    padding: 15px;
    cursor: pointer;
    border-radius: 25px;
}

.botao-sobre:hover{
    background-color: #bd6bbd;
    color: aliceblue;
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 62px;
   
}

.redes-links {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #800080;
    width: 16%;
    height: 180px;
    margin: 16px;
}

.redes-links__img {
    margin-bottom: 10px;
}

.redes-links__titulo {
    margin-bottom: 16px;
}